
  
    /* Links in Navbar*/
 @media only screen and (max-width: 1600px) {
  .NewsButton {
    position: absolute;
    background-color: rgba(10, 141, 27, 0.91);
    font-weight: bold;
    color: white;
    margin-left: 12%;
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 15px;
  }
}

@media only screen and (max-width: 1245px) {
  .NewsButton {
    position: absolute;
    background-color: rgba(10, 141, 27, 0.91);
    font-weight: bold;
    color: white;
    margin-left: 14%;
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 15px;
  }
}
@media (max-width: 1075px){ 
.NewsButton {
    position: absolute;
    background-color: rgba(10, 141, 27, 0.91);
    font-weight: bold;
    color: white;
    margin-left: 16%;
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 15px;
  }
}   

@media (max-width: 860px){ 
.NewsButton {
    position: absolute;
    background-color: rgba(10, 141, 27, 0.91);
    font-weight: bold;
    color: white;
    margin-left: 18%;
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 15px;
  }
}

@media (max-width: 750px){  
.NewsButton {
    position: absolute;
    background-color: rgba(10, 141, 27, 0.91);
    font-weight: bold;
    color: white;
    margin-left: 20%;
    font-size: 20px;
    border-radius: 4px;
    padding: 5px 15px;
  }
}

@media (max-width: 1880px){ 
.submitToken, .loginButton {
    font-size: 1vw;
    padding: 10px 15px;
  }
}

@media (max-width: 1530px) { 
.submitToken, .loginButton {
    font-size: 1.2vw;
    padding: 10px 15px;
  } 
}

@media (max-width: 1350px){ 
.submitToken, .loginButton {
    font-size: 1.4vw;
    padding: 10px 15px;
  }
}

@media (max-width: 1130px) { 
.submitToken, .loginButton {
    font-size: 1.5vw;
    padding: 10px 15px;
  }
}

@media (max-width: 910px) { 
.loginButton {
    font-size: 2vw;
    margin-left: 82vw;
    padding: 10px 15px;
  }
}

@media (max-width: 1530px) { 
.submitToken {
    font-size: 1.2vw;
    margin-left: 69vw;
    padding: 10px 15px;
  }
}

@media (max-width: 910px) { 
.submitToken {
    font-size: 2vw;
    margin-left: 62vw;
    padding: 10px 15px;
  }
}

      /* Advertise Link*/

@media only screen and (max-width: 1880px) { 
.Advertise {
    position: absolute;
    margin-left: 1650px;
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1830px) { 
.Advertise {
    position: absolute;
    margin-left: 1615px;
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1790px) { 
  .Advertise {
    position: absolute;
    margin-left: 1585px;
    font-size: 1.2vw;
    }
  }

@media only screen and (max-width: 1720px) { 
  .Advertise {
    position: absolute;
    margin-left: 1525px;
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1700px) { 
  .Advertise {
    position: absolute;
    margin-left: 1490px;
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1660px) { 
  .Advertise {
    position: absolute;
    margin-left: 1440px;
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1610px) { 
  .Advertise {
    position: absolute;
    margin-left: 1400px;
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1570px) { 
  .Advertise {
    position: absolute;
    margin-left: 1360px;
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 1520px) { 
  .Advertise {
    position: absolute;
    margin-left: 1320px;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1490px) { 
  .Advertise {
    position: absolute;
    margin-left: 1280px;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1440px) { 
  .Advertise {
    position: absolute;
    margin-left: 1240px;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1400px) { 
  .Advertise {
    position: absolute;
    margin-left: 1200px;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1360px) { 
  .Advertise {
    position: absolute;
    margin-left: 1160px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1325px) { 
  .Advertise {
    position: absolute;
    margin-left: 1120px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1275px) { 
  .Advertise {
    position: absolute;
    margin-left: 1080px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1235px) { 
  .Advertise {
    position: absolute;
    margin-left: 1040px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1185px) { 
  .Advertise {
    position: absolute;
    margin-left: 1000px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1145px) { 
  .Advertise {
    position: absolute;
    margin-left: 960px;
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 1105px) { 
  .Advertise {
    position: absolute;
    margin-left: 920px;
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 1060px) { 
  .Advertise {
    position: absolute;
    margin-left: 880px;
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 1020px) { 
  .Advertise {
    position: absolute;
    margin-left: 840px;
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 980px) { 
  .Advertise {
    position: absolute;
    margin-left: 760px;
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 900px) { 
  .Advertise {
    position: absolute;
    margin-left: 720px;
    font-size: 1.9vw;
  }
}

@media only screen and (max-width: 860px) { 
  .Advertise {
    position: absolute;
    margin-left: 680px;
    font-size: 1.9vw;
  }
}
@media only screen and (max-width: 810px) { 
  .Advertise {
    position: absolute;
    margin-left: 640px;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 770px) { 
  .Advertise {
    margin-left: 0px;
    font-size: 0vw;
  }
}
  /* img banner ads under link Advertise with us*/
@media only screen and (max-width: 1880px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 61vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 1650px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 59vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 1500px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 56vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 1400px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 53vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 1250px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 50vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 1100px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 47vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 1000px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 43vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 910px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 39vw;
    border-radius: 4px 4px 4px 4px;
  }
}
@media only screen and (max-width: 840px) { 
  .a {
    width: 100%;
    height: 120px;
    position: absolute;
    padding: 10px 10px 10px 36vw;
    border-radius: 4px 4px 4px 4px;
  }
}

@media only screen and (max-width: 770px) { 
  .a {
    width: 0%;
    height: 0px;
    padding: 0px 0px 0px 0vw;
    border-radius: 0px 0px 0px 0px;
  }
}




/* On slider text size */
@media only screen and (max-width: 1600px) {
  .slidetext{
      font-size: 2.7vw;
       margin-left: -230px;
  }
}
          @media only screen and (max-width: 1650px) {
            .slidetext{
             font-size: 2.6vw;
             margin-left: -180px;
            }
          }
          @media only screen and (max-width: 1450px) {
            .slidetext{
             font-size: 2.6vw;
             margin-left: -250px;
            }
          }
          @media only screen and (max-width: 1350px) {
            .slidetext{
             font-size: 2.6vw;
             margin-left: -300px;
            }
          }
          @media only screen and (max-width: 1250px) {
            .slidetext{
             font-size: 2.5vw;
             margin-left: -410px;
            }
          }
          @media only screen and (max-width: 1100px) {
            .slidetext{
             font-size: 2.5vw;
             margin-left: -495px;
            }
          }
          @media only screen and (max-width: 950px) {
            .slidetext{
             font-size: 2.5vw;
             margin-left: -550px;
            }
          }
          @media only screen and (max-width: 850px) {
            .slidetext{
             font-size: 2.5vw;
             margin-left: -640px;
            }
          }
          @media only screen and (max-width: 770px) {
            .slidetext{
             font-size: 0vw;
             margin-left: 0px;
            }
          }
        
        
    /*.table_Landing table of promo and tokens  */
     
    @media only screen and (max-width: 1880px) { 
      .table_Landing {
        font-size: 1.5rem;
        background-color: rgb(255, 255, 255);
        margin: -70px 220px -42px 300px;
        border-radius: 8px;
      }
    }

    @media only screen and (max-width: 1750px) { 
      .table_Landing {
        font-size: 1.5rem;
        background-color: rgb(255, 255, 255);
        margin: -70px 9.2vw -42px 9.2vw;
        border-radius: 8px;
      }
    }

    @media only screen and (max-width: 1570px) { 
      .table_Landing {
        font-size: 1.5rem;
        background-color: rgb(255, 255, 255);
        margin: -70px 7vw -42px 7vw;
        border-radius: 8px;
      }
    }

    @media only screen and (max-width: 1380px) { 
      .table_Landing {
        font-size: 1.5rem;
        background-color: rgb(255, 255, 255);
        margin: -70px 5vw -42px 5vw;
        border-radius: 8px;
      }
    }

    @media only screen and (max-width: 1200px) { 
      .table_Landing {
        font-size: 1.5rem;
        background-color: rgb(255, 255, 255);
        margin: -70px 3vw -42px 3vw;
        border-radius: 8px;
      }
    }

    @media only screen and (max-width: 1000px) { 
      .table_Landing {
        font-size: 1.5rem;
        background-color: rgb(255, 255, 255);
        margin: -70px 2vw -42px 2vw;
        border-radius: 8px;
      }
    }
         /* TitleTabs in the table*/
    @media only screen and (max-width: 1880px) { 
      .titleTabs {
        font-size: 1.5rem;
        display: flex;
        margin-left: 20vw;
        margin-top: 150px;
      }
    }
    @media only screen and (max-width: 1750px) { 
      .titleTabs {
        font-size: 1.5rem;
        display: flex;
        margin-left: 12vw;
        margin-top: 150px;
      }
    }

    @media only screen and (max-width: 1570px) { 
      .titleTabs {
        font-size: 1.5rem;
        display: flex;
        margin-left: 10vw;
        margin-top: 150px;
      }
    }

    @media only screen and (max-width: 1380px) { 
      .titleTabs {
        font-size: 1.5rem;
        display: flex;
        margin-left: 8.8vw;
        margin-top: 150px;
      }
    }

    @media only screen and (max-width: 1200px) { 
      .titleTabs {
        font-size: 1.5rem;
        display: flex;
        margin-left: 7.2vw;
        margin-top: 150px;
      }
    }

    /* Contactus! table*/

    @media only screen and (max-width: 1880px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1405px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1840px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1365px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1800px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1325px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1760px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1285px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1720px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1255px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1680px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1235px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1640px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1195px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1600px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1150px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1465px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1105px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1420px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1065px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1350px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 1025px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1305px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 985px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1265px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 945px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1220px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 905px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1155px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 865px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1115px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 825px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1070px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 785px;
       font-size: 18px;
      }
    }

    @media only screen and (max-width: 1030px) { 
      .Contactus {
       position: absolute;
       margin-top: 100px;
       margin-left: 745px;
       font-size: 18px;
      }
    }

   
